In [2]:
import tarfile
import pandas as pd
import json
from itertools import islice

In [ ]:
# out of memory
# tar = tarfile.open("yelp_dataset.tar")
# tar.extractall()
# tar.close()

In [4]:
df_b = pd.read_json('yelp_academic_dataset_business.json', lines=True)
df_b.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [60]:
hmart_ids_api = ['8-64npb_paXKRHCEs7-jmw',
 'QPulJOKbbp_bsp1iQgUfkg',
 'K96Oe_CjuRgbeO46etR_JA',
 'ElTZrpEWjb34fHLRFg9KMw',
 'Ox8vk58P0bx_Ce5p57RUUA',
 'BurPcTWDBckKCs9jUXHk-Q',
 '8CSWfE3wxI1UyiemtF0YRw',
 'V52kefaXO5vykbzd52M_mw',
 '35TPRXbln2T0nshfrP8HCQ',
 '4IvzF466N4PFl4xf4ZOAGQ',
 'czp2dfwZ8MK0GwemL_6pWA',
 'ucPJv4Xy5A9RsqxsOk78xw',
 '0aFjfaM4ae28eCE9mJIa0g',
 'HmxyXKtZd7IsWyVcTwBlDg',
 'wljLGtaT6Kdik7aSUrbZsQ',
 '1qjJz_X-qzAmWHt3CY44CA',
 'DqLMxNjonFBXAzcAheSD1A',
 '1UKBAgYxI9Qax3AA4ULw_w',
 '-wlmZ-b35UJ-GY-59NDxyw',
 'GNYNs8pu3J-GaSKLQueQSg',
 't7lXDRAytv_pq5FLWSxtaQ']
df_b[df_b['business_id'].isin(hmart_ids_api)]

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
53706,1UKBAgYxI9Qax3AA4ULw_w,H Mart - Philadelphia,"6201 North Front St, Ste 124",Philadelphia,PA,19120,40.045022,-75.117504,4.5,33,1,"{'RestaurantsDelivery': 'True', 'Ambience': '{...","Korean, Food, Restaurants, Grocery, Specialty ...","{'Monday': '9:0-21:0', 'Tuesday': '9:0-21:0', ..."
102234,-wlmZ-b35UJ-GY-59NDxyw,H Mart - Elkins Park,7320 Old York Rd.,Elkins Park,PA,19027,40.063035,-75.136916,4.0,155,1,"{'BusinessParking': '{'garage': False, 'street...","Food, Pan Asian, Grocery, Korean, Seafood Mark...","{'Monday': '8:0-20:0', 'Tuesday': '8:0-20:0', ..."
111313,GNYNs8pu3J-GaSKLQueQSg,H Mart - Upper Darby,7050 Terminal Sq.,Upper Darby,PA,19082,39.961243,-75.262895,4.0,163,1,"{'Ambience': '{'romantic': False, 'intimate': ...","Ethnic Food, Korean, Food Court, Seafood Marke...","{'Monday': '8:30-20:0', 'Tuesday': '8:30-20:0'..."
133223,t7lXDRAytv_pq5FLWSxtaQ,H Mart - Cherry Hill,1720 Rt. 70 East.,Cherry Hill,NJ,08003,39.908325,-74.976585,4.0,94,1,"{'WheelchairAccessible': 'True', 'RestaurantsT...","Food, Food Court, Specialty Food, Restaurants,...","{'Monday': '8:30-20:0', 'Tuesday': '8:30-20:0'..."

In [62]:
# get h mart business ids from dataset_business.json
df_h = df_b[(df_b['name'].str.lower().str.contains('h mart|hmart|h-mart'))&(~df_b['business_id'].isin(['WUZsRFKkL2YKdCp_SHNzqQ','U_y_qiiU-aIguP-RWWaCXQ','ofzlAnK5txsaXWpfSwXhug']))]
hmart_ids = df_h['business_id'].to_list()

# create a dictionary that can save reviews by stores
hmart_reviews = {}
for id in hmart_ids:
    hmart_reviews[id] = None

In [63]:
hmart_reviews

{'HIAJ2mnlm_pP38_8GbgQ5g': None,
 '1UKBAgYxI9Qax3AA4ULw_w': None,
 '-wlmZ-b35UJ-GY-59NDxyw': None,
 'GNYNs8pu3J-GaSKLQueQSg': None,
 'iXMuh6475dWdvHNIaFs3Xw': None,
 't7lXDRAytv_pq5FLWSxtaQ': None}

In [58]:
# get reviews from dataset_reviews.json using above business ids
# save as pandas dataframe in the dictionary
with open('yelp_academic_dataset_review.json', encoding='utf-8') as f:
    for line in f:
        for id in hmart_reviews.keys():
            if id in line:
                hmart_reviews[id].append(line)

In [59]:
# check how many reviews found by store and total
total = 0

for id in hmart_reviews.keys():
    print(f'{id}: {len(hmart_reviews[id])}')
    total += len(hmart_reviews[id])

print(f'\n total: {total}')

HIAJ2mnlm_pP38_8GbgQ5g: 83
1UKBAgYxI9Qax3AA4ULw_w: 35
-wlmZ-b35UJ-GY-59NDxyw: 156
GNYNs8pu3J-GaSKLQueQSg: 168
iXMuh6475dWdvHNIaFs3Xw: 17
t7lXDRAytv_pq5FLWSxtaQ: 97

 total: 556

In [69]:
with(open('yelp_academic_dataset_review.json')) as f:
    objects = (json.loads(line) for line in f)
    objects = islice(objects, 200)
    rows = list(objects)

# Convert to pandas DataFrame
df_review = pd.DataFrame(rows)

df_review

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5.0,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15
...,...,...,...,...,...,...,...,...,...
195,c9uUji8cUjVqkMisIfHjyg,zMeM0HTnNfjBffhgm-3EBA,dBCNUSbz5-8nQNrxWo5deg,4.0,0,0,0,I love this place. The food is great and the ...,2011-05-27 17:36:12
196,ZNZMWPfPdbbM7dhZlIpoFA,zq2nd0H1dVzi3bta4Zepuw,JvawJ9bSr22xn4R9oLvl_w,4.0,0,0,0,Took a while to get actual service but once we...,2015-05-26 06:01:17
197,IJCYT9dRjuBvY-BJufFnNg,hWDybu_KvYLSdEFzGrniTw,roc-xyyzN5b_nImb0NdRLQ,4.0,6,5,5,"As airport grab-and-go restaurants are, Earl d...",2015-01-03 23:16:09
198,clKHv1f5cIsaJVJPdKKHZg,f0fqCwb_QAJUPm-K95Mk2g,NdqATFd0JsFzEOD8Z8pa5w,5.0,2,0,1,"WOW! What a fantastic place! Food A+, Servic...",2014-08-25 00:52:32
199,cOcKS8BQ7yjOJPatqK2OOQ,Lc5U0qetusunJZ0NgNO_Iw,Y2rYM2crYfTC25y6iquPgw,5.0,0,0,0,I stopped in for dinner and a drink & was thor...,2015-08-30 16:34:23